
<html>

<body>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <div class="image-aboutus-banner"style="margin-top:70px">
       <div class="container">
        <div class="row">
            <div class="col-md-12">
             <h1 class="lg-text">The Sky is Waiting for You </h1>
             <p class="image-aboutus-para">
                With CheapFlights, you can easily book any ticket you need to travel safely
                 thanks
                 <br> 
                 to our detailed system of searching and booking airline tickets.</p>
           </div>
        </div>
    </div>
    </div>
    
  
     
    <div class="page-container">
        <h2>Make your booking now </h2>
        <br> 
        <div class="max">    
        <form action="QueryString.cgi ">
    <h1>BOOK NOW</h1>

    
    <label>RoundTrip:</label>
    <input type="radio"  value="RoundTrip" name="radio" [(ngModel)]="radio">
      <br>
   <label> OneWay:</label>
   &nbsp;
    <input type="radio" value="OneWay" name="radio" [(ngModel)]="radio">
      <br>
   <label> Multy-city:</label>
   
    <input type="radio" value="Multy-city" name="radio" [(ngModel)]="radio">
  
        <br>
        <br>
           <label> Airport:</label>
            &nbsp; &nbsp;
            <select  style="height: 30%;width:30%"name="drop"[(ngModel)]="drop">
                <option>New York(JF)</option>
                <option value="OR Tambo"> OR Tambo</option>
                <option value="Cape Town Airpot">Cape Town Airport</option>
                <option value="Ivato International Airport">Ivato International Airport</option>
                <option value="	Nouadhibou International Airport">	Nouadhibou International Airport</option>
                <option value="Maputo International Airport">Maputo International Airport</option>
           
                </select>
    <br>
    <label>Depature:</label>
    &nbsp;
    <input type="date" name="date1"[(ngModel)]="date1">
  <br>
   
    <label>Return:</label>
    &nbsp; &nbsp;
    <input type="date" name="date2" [(ngModel)]="date2">
    <br>
    <br>
    <label>Flights:</label>
    &nbsp; &nbsp;
    <select  style="height: 30%;width:30%"name="drop1" [(ngModel)]="drop1">
        <option>Economy</option>
        <option value="	Business ">	Business </option>
        <option value="Premium Economy ">Premium Economy </option>
        <option value="First Class">First Class</option>
        <option value="Second Class">Second Class</option>
        <option value="Third Class">Third Class</option>
   
        </select>
        <br>
            <button type="submit" value="Add" name="submit" (click)="book()">Book</button>
          <br>
          <br>
          <br>
       
        </form>
    </div>
  
    <br>
    <br>
      

    <div class="cta-sektion cta-padding35">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h3><span class="glyphicon glyphicon-cog "></span> <b>Homes for sale?</b> Explore properties like a pro.</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                    <button type="button" class="btn btn-primary site-btn">Start Right Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section">
        <div class="footer">
      <div class="container">
        <div class="col-md-4 footer-one">
          <h5>About Us </h5>
            <p>How practical is an amazing weekend break for skiing if what you really look forward is relaxing on a sandy beach?
               How good a great destination can be, if it’s too expensive to get there? 
               Cheapflights offers an innovative and useful online experience, 
              so you can find your perfect destination in just a couple of clicks!</p>
              <div class="social-icons"> 
                   <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                   <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                  <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                  <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              </div>	
        </div>
        <div class="col-md-3 footer-two">
            <h5>Information </h5>
            <ul>
                      <li><a href="maintenance.html">Maintenance Tips</a></li>
                      <li><a href="contact.html">Locations</a></li>
                      <li><a href="about.html">Testimonials</a></li>
                      <li><a href="about.html">Careers</a></li>
                      <li><a href="about.html">Partners</a></li>
                    </ul>
        </div>
        <div class="col-md-3 footer-three">
            <h5>Helpful Links </h5>
            <ul>
                      <li><a href="maintenance.html">Maintenance Tips</a></li>
                      <li><a href="contact.html">Locations</a></li>
                      <li><a href="about.html">Testimonials</a></li>
                      <li><a href="about.html">Careers</a></li>
                      <li><a href="about.html">Partners</a></li>
                    </ul>
        </div>
        <div class="col-md-2 footer-four">
            <h5>Helpful Links </h5>
            <ul>
                      <li><a href="maintenance.html">Maintenance Tips</a></li>
                      <li><a href="contact.html">Locations</a></li>
                      <li><a href="about.html">Testimonials</a></li>
                      <li><a href="about.html">Careers</a></li>
                      <li><a href="about.html">Partners</a></li>
                    </ul>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
        <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center ">
                  <div class="copyright-text">
                    <p>CopyRight © 2017 Nkosazane All Rights Reserved</p>
                  </div>
                </div> <!-- End Col -->
                
              </div>
            </div>
        </div>
    </div>  




  


 


