
.paddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
}
.bgcolor-skyblue {
  background:#eaf0f9;
}

.image-aboutus-banner {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), 
url("https://www.philippineairlines.com/en/~/media/palfleet-2018-revised/a350tile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom:110px;
}

.image-aboutus-sm-banner {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url
  ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJK7Jm8KopBCM_UGGwOqWYrbuem0woXd3sXxT_MDSGFFc01-bf");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom:30px;
}
.lg-text {
  font-size:52px;
  font-weight: 600;
  text-transform: none;
  color:#fff;
}
.image-aboutus-para {
  color:#fff;
}

/************************* */
.plan {
  background: #f9f9f9;
  padding: 50px 30px;
  margin-bottom: 30px;
}
.plan-header h4 {
  padding-bottom: 8px;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}
.plan-header {
  font-weight: 700;
}
.plan-header span {
      color: #fe4819;
      font-size: 40px;
}
.plan li {
  padding-bottom: 15px;
}
.plan ul {
  padding-left: 0;
  margin-bottom: 15px;
  list-style: none;
}
.plan-header p {
  padding-header: 12px;
  padding-bottom: 15px;
}

.col-md-3,.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}

.bg-pink {
  background:#f0f0f0;
}
.bg-blue {
  background:#d6d6d6;
  color:#000;
}
.padding35 {
  padding: 35px 0 35px;
}


/* Feature-CSS */

.icon {
  color : #fff;
  padding:15px;
  background:#323232 ;
  font-size:50px;
  border-radius:90px;
  border:10px solid #323232 ;
  
}
.feature-box {
  text-align: center;
  padding: 20px;
  transition: .5s;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
}
.feature-box:hover {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0 15px;
}

/* Site Heading */
.site-heading h3{
  font-size : 40px;
  margin-bottom: 10px;
  font-weight: 600;
}
.border {
  background: #e8e8e8 ;
  height: 1px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  float:left;
}

/* padding-margin */
.paddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
}


/* Carousel banner */
/* Declare heights because of positioning of img element */
.carousel .item {
height: 500px;
background-color:#555;
}
.carousel img {
position: absolute;
top: 0;
left: 0;

}
.carousel-caption {
  margin-bottom:30px;
}
.carousel-caption h1 {
  margin-bottom:15px;
  font-size:42px;
  font-weight:700px;
}
.carousel-caption p {
  margin-bottom:20px;
  font-size:16px;
  font-weight:400px;
}

/* Footer */
.footer {
  position: relative;
  background-color: #fff;
  color: #707070;
  padding: 55px 0 40px;
}
.footer h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  position: relative;
  padding-bottom: 16px;
}
.footer h5:after {
  content: '';
  display: block;
  margin: 5px 0 0;
  width: 40%;
  height: 1px;
  background-color: #fff;
}
.footer ul {
  list-style: none;
  line-height: 2.2em;
  padding-left:0px;
}
.footer ul a {
  color:#707070;;
}
.footer ul a:hover {
  color:#274abb;;
  text-decoration:none;
}
/*footer bottom */
.footer-bottom {
  padding-top: 5px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(0,0,0,0.09);
  background: #fff;
  
}
.copyright-text p {
  color: #707070;
  margin-top: 18px;
  margin-bottom: 0;
  font-size:12px;
}

/* Social Icons */

.social-icons{
  
  margin: 0;
  padding: 0;
  font-size : 10px;
}

.social {
  margin:7px 7px 7px 0px;

}


#social-fb:hover {
   color: #3B5998;
   transition:all .25s;
}
#social-tw:hover {
   color: #4099FF;
   transition:all .25s;
}
#social-gp:hover {
   color: #d34836;
   transition:all .25s;
}
#social-em:hover {
   color: #f39c12;
   transition:all .25s;
}

/* CTA CSS */
.cta-padding35 {
  padding: 35px 0 35px;
  background-color: rgb(16, 27, 88);
  color:#fff;
}
/* Buttons */
.site-btn {
  font-size: 14px;
  padding: 13px 30px;
  border-radius: 5px;
 
  min-width: 200px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color:transparent;
  transition: all .25s ease-in-out;
  margin: 10px 0px 10px 0px;
  
}
.site-btn:hover {
  background: #0012b4 ;
  border: 1px solid #fff;
  font-weight:700px;
  
  
}



/* Navigation */
.navbar-default {
background-color: #011034;
border-color: #011034;
padding: 10px 0px 10px 0;
letter-spacing:1px;
font-weight:800;
text-transform: uppercase;
    webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.navbar-default {
background-color: #011034;
border-color: #011034;
}
.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color: #b40028;
}
.navbar-default .navbar-text {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #b40028;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
background-color: #011034;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-toggle {
border-color: #011034;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #203401;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #ffffff;
}
.navbar-default .navbar-link {
color: #ffffff;
}
.navbar-default .navbar-link:hover {
color: #b40028;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #b40028;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b40028;
  background-color: #011034;
}
}



button {
  cursor:pointer;
  width:300px;
  height:44px;
  margin-top:25px;
  padding:0;
  background-color: #3A4177;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border:1px solid black;
  -moz-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.25) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.25) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  box-shadow:
          0 15px 30px 0 rgba(255,255,255,.25) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  font-family:'PT Sans', Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:700;
  color:#fff;
  text-shadow:0 1px 2px rgba(0,0,0,.1);
  -o-transition: all .2s;
      -moz-transition: all .2s;
      -webkit-transition: all .2s;
      -ms-transition: all .2s;
  }
  
  button:hover {
      -moz-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      -webkit-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  }
  
  button:active {
      -moz-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      -webkit-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      box-shadow:        
          0 5px 8px 0 rgba(0,0,0,.1) inset,
          0 1px 4px 0 rgba(0,0,0,.1);
  
      border: 0px solid #ef4300;
  }
  


body {
  background-image: url("s.jpg");
  font-family:'PT Sans',Helvetica, Arial, sans-serif;
  color:#fff;
     background-repeat: no-repeat;
     background-size:cover;
     border:1px solid black;
  

  }
  
  .page-container {
  margin: 120px auto 0 auto;

  
  }


h1 {
  font-size: 30px;
  font-weight: 700;
  text-shadow:0 1px 4px rgba(0,0,0,.2);
  text-align:center;
}
h2{
  text-align: center;
}


p{
 text-align: center;
}

form {
  position:relative;
margin-left: 30%;
margin:15px auto 0 auto;
text-align:center; 
border: 2px solid grey; 
border-radius: 50px;
   width:40%;
   height: 40%;
   background-color: #4d4a4a;

}

input {
width:270px;
height:42px;
margin-top:25px;
padding:0 15px;
background:#2d2d2d;
background:rgba(45,45,45,.15);
-moz-border-radius: 6px;
-webkit-border-radius:6px;
text-align:center;
border-radius:6px;
border:1px solid #3d3d3d;
border:1px solid rgba(255,255,255,.15);
-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
font-family: 'PT Sans', Helvetica, Arial, sans-serif;
font-size:16px;
color:#fff;
text-shadow:0 1px 2px rgba(0,0,0,.1);
-o-transition: all .2s;
-moz-transition: all .2s;
-webkit-transition: all .2s;
-ms-transition: all .2s;
}

input:-moz-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }

input:focus {
outline:none;
-moz-box-shadow:
      0 2px 3px 0 rgba(0,0,0,.1) inset,
      0 2px 7px 0 rgba(0,0,0,.2);
-webkit-box-shadow:
      0 2px 3px 0 rgba(0,0,0,.1) inset,
      0 2px 7px 0 rgba(0,0,0,.2);
box-shadow:
      0 2px 3px 0 rgba(0,0,0,.1) inset,
      0 2px 7px 0 rgba(0,0,0,.2);
}

select{
  background-color:rgb(71, 68, 68);
  border: 1px gray;
  color: white;
}